<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
        body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        margin: 0;
        padding: 0;
        }

        .loginForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 400px;
        margin: 50px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .loginForm h1 {
        font-size: 20px;
        color: #333;
        margin-top: 0;
        }

        .loginForm input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        }

        .loginForm input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
        }

        .loginForm input[type="submit"]:hover {
        background-color: #45a049;
        }

        .loginForm input[type="submit"]:focus {
        outline: none;
        }

        .loginForm input[type="text"]:focus,
        .loginForm input[type="password"]:focus {
        border-color: #4CAF50;
        }

    </style>
</head>
<body>
    <form class="loginForm" name="Login_form" method="post" onsubmit="verify(); return false">
        <h1>Witaj, zaloguj się</h1>

        <input type="text" name="login" placeholder="Login" required autofocus/>
        <input type="password" name="password" placeholder="Hasło" required/>

        <input type="submit" value="Zaloguj">
    </form>
</body>
</html>
