<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        let apiKey = null;
        let bearer = null;

        const verify = () => {
            const login = document.forms["Login_form"]["login"].value;
            const password = document.forms["Login_form"]["password"].value;

            axios.post('/login', { login: login, password: password })
              .then(response => {
                // Obsługa odpowiedzi od serwera
                if(response.data.success) {
                    apiKey = response.data.apiKey;
                    bearer = response.headers.authorization;
                    document.querySelector('.loginForm').style.display = 'none';
                    document.getElementById('apiKeyDisplay').innerText = `Twój klucz api: ${apiKey}`;
                    document.getElementById('jwtDisplay').innerText = `Twój token jwt: ${bearer}`;
                    document.getElementById('dashboardButton').style.display = 'block';
                }
              })
              .catch(error => {
                // Obsługa błędu
                console.error('Wystąpił błąd:', error);
              });
        }

        const moveToApi = async () => {
            window.location.href = '/api-docs';
        }
    </script>
</head>
<body>
    <form class="loginForm" name="Login_form" onsubmit="verify(); return false">
        <h1>Witaj, zaloguj się</h1>

        <input type="text" name="login" placeholder="Login" required autofocus/>
        <input type="password" name="password" placeholder="Hasło" required/>

        <input type="submit" value="Zaloguj">
    </form>

    <p id="apiKeyDisplay"></p>
    <p id="jwtDisplay"></p>
    <button id="dashboardButton" style="display: none;" onclick="moveToApi()">Przejdź do api</button>
</body>
</html>
